<div class="nav-container">
    <nav class="top-nav">
        <span class="welcome-text fontFamily" [routerLink]="''"><i>Darbar Sri Guru Granth Sahib Ji</i></span>
        <ul class="top-nav-items">
            <!-- <li>
                <a class="fontFamily" href="#" [routerLink]="'users'"><i class="fas fa-users"></i> All Users</a>
            </li> -->
            <li>
                <a class="fontFamily" href="#" [routerLink]="''">Home</a>
            </li>
            <li>
                <a class="fontFamily" href="#">Log In</a>
            </li>
        </ul>
    </nav>
    <ul class="bottam-nav-items">
        <li>
            <a class="fontFamily" href="#" [routerLink]="'bachans'">Bachans</a>
        </li>
        <li>
            <a class="fontFamily" href="#" [routerLink]="'gurbaniVichaar'">Gurbani Vichaar</a>
        </li>
    </ul>
</div>