<div class="nav-container">
    <!-- <ul class="top-nav-items">
        <li>
            <a class="fontFamily" href="#" [routerLink]="'bachans'">Bachans</a>
        </li>
        <li>
            <a class="fontFamily" href="#" [routerLink]="'gurbaniVichaar'">Gurbani Vichaar</a>
        </li>
    </ul> -->
    <h2 class="headerText">Darbar Sri Guru Granth Sahib Ji</h2>
    <div class="box">
        <span class="img feature">
            <img src="../../assets/img/DSimg.jpg" alt="DS_img">
        </span>
    </div>
</div>